<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js components meetup resources</title>
</head>
<body>
  <div id="app">
    <h1>Vue.js components examples</h1>
    <section v-for="section in content">
      <h3>{{ section.section }}</h3>
      <ul>
        <li v-for="page in section.pages">
          <a :href="page.href">{{page.name}}</a>
        </li>
      </ul>
    </section>
  </div>
  <script src="./vue-2.6.11.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        content: [
          {
            section: 'Basics',
            pages: [
              {
                name: 'Global component',
                href: '/basics/global-component.html'
              },
              {
                name: 'Local component',
                href: '/basics/local-component.html'
              }
            ]
          },
          {
            section: 'Props',
            pages: [
              {
                name: 'Basics',
                href: '/props/basics.html'
              },
              {
                name: 'Validation',
                href: '/props/validation.html'
              },
              {
                name: 'Example',
                href: '/props/example.html'
              }
            ]
          },
          {
            section: 'Events',
            pages: [
              {
                name: 'Emit',
                href: '/events/emit.html'
              },
              {
                name: 'Emit with params',
                href: '/events/emit-params.html'
              },
              {
                name: 'Emit with DOM event',
                href: '/events/emit-dom-event.html'
              },
              {
                name: 'v-model',
                href: '/events/v-model.html'
              }
            ]
          },
          {
            section: 'Lifecycle hooks',
            pages: [
              {
                name: 'beforeCreate',
                href: '/lifecycle-hooks/before-create.html'
              },
              {
                name: 'created',
                href: '/lifecycle-hooks/created.html'
              },
              {
                name: 'beforeMount',
                href: '/lifecycle-hooks/before-mount.html'
              },
              {
                name: 'mounted',
                href: '/lifecycle-hooks/mounted.html'
              },
              {
                name: 'beforeUpdate',
                href: '/lifecycle-hooks/before-update.html'
              },
              {
                name: 'updated',
                href: '/lifecycle-hooks/updated.html'
              },
              {
                name: 'beforeDestroy',
                href: '/lifecycle-hooks/before-destroy.html'
              },
              {
                name: 'destroyed',
                href: '/lifecycle-hooks/destroyed.html'
              }
            ]
          }
        ]
      }
    })
  </script>
</body>

</html>